<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>The camera is used for augmenting reality</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs to access your location.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save photos of your ARExperience</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Save photos of your AR experience</string>
	<key>UIAppFonts</key>
	<array>
		<string>AvenirLTStd-Black.otf</string>
		<string>AvenirLTStd-BlackOblique.otf</string>
		<string>AvenirLTStd-Book.otf</string>
		<string>AvenirLTStd-BookOblique.otf</string>
		<string>AvenirLTStd-Heavy.otf</string>
		<string>AvenirLTStd-HeavyOblique.otf</string>
		<string>AvenirLTStd-Light.otf</string>
		<string>AvenirLTStd-LightOblique.otf</string>
		<string>AvenirLTStd-Medium.otf</string>
		<string>AvenirLTStd-MediumOblique.otf</string>
		<string>AvenirLTStd-Oblique.otf</string>
		<string>AvenirLTStd-Roman.otf</string>
		<string>segoeui.ttf</string>
		<string>segoeuib.ttf</string>
		<string>segoeuii.ttf</string>
		<string>segoeuil.ttf</string>
		<string>segoeuisl.ttf</string>
		<string>segoeuiz.ttf</string>
		<string>seguibl.ttf</string>
		<string>seguibli.ttf</string>
		<string>seguili.ttf</string>
		<string>seguisb.ttf</string>
		<string>seguisbi.ttf</string>
		<string>seguisli.ttf</string>
		<string>Mystique-Splashes.ttf</string>
		<string>Mystique-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
